# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data and Models
data/preprocessed_products.csv
embeddings/product_embeddings.npy
search/product.index
*.index
*.npy
*.csv

# OS
.DS_Store
Thumbs.db
